ryoku/**/*.png binary
ryoku/**/*.jpg binary
ryoku/**/*.jpeg binary
ryoku/**/*.gif binary
ryoku/**/*.webp binary
ryoku/**/*.ico binary
ryoku/**/*.bmp binary
ryoku/**/*.tiff binary
ryoku/**/*.ttf binary
ryoku/**/*.otf binary
ryoku/**/*.woff binary
ryoku/**/*.woff2 binary
ryoku/**/*.eot binary
ryoku/**/*.mp3 binary
ryoku/**/*.mp4 binary
ryoku/**/*.webm binary
ryoku/**/*.ogg binary
ryoku/**/*.wav binary
ryoku/**/*.flac binary
ryoku/**/*.zip binary
ryoku/**/*.gz binary
ryoku/**/*.tar binary
ryoku/**/*.xz binary
ryoku/**/*.zst binary
ryoku/**/*.pdf binary
ryoku/**/*.qmlc binary
ryoku/**/*.jsc binary
