[Desktop Entry]
Type=Application
Name=Ryoku VM
GenericName=Virtual Machine
Comment=Run your virtual machine in a window
Exec=ryoku-vm
Terminal=false
Icon=ryoku-vm
Categories=System;
Keywords=vm;virtual machine;qemu;linux;windows;
